<app-navbar></app-navbar>

<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen"></mat-drawer>
  <mat-drawer-content>
    <div class="container-fluid page">
      <br>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="mb-3">
              <h5 class="card-title">Liste des cours</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
              <div class="col-lg-12 justify-content-end text-right">
                <div class="ms-auto float-right">
                    <i class="fas fa-plus-circle" style="font-size: 38px; color: #e91818; cursor: pointer;" (click)="add()"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table project-list-table table-nowrap align-middle table-borderless">
                    <thead>
                      <tr>
                        <th scope="col" class="ps-4" style="width: 50px;">
                          <div class="form-check font-size-16">
                            <input type="checkbox" class="form-check-input" id="contacusercheck" />
                            <label class="form-check-label" for="contacusercheck"></label>
                          </div>
                        </th>
                        <th scope="col">Titre Cours</th>
                        <th scope="col">Description</th>
                        <th scope="col">Prix</th>
                
                        <th scope="col" style="width: 200px;">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let cours of ListCours">
                        <th scope="row" class="ps-4">
                          <div class="form-check font-size-16">
                            <input type="checkbox" class="form-check-input" />
                            <label class="form-check-label"></label>
                          </div>
                        </th>
 
                        <td>{{ cours.titre }}</td>
                        <td>{{ cours.description }}</td>
                        <td>{{ cours.prix }} TND</td>

                        <td>
                          
                      <button type="button" class="btn btn-primary mt-3 btnn-rounded waves-effect w-md waves-light buttonn" (click)="update(cours.idCours)">update
                      </button> &nbsp;

                      <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light" (click)="supprimer(cours.idCours)">delete</button> 

                           
                          </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
